#anchor {
    text-decoration: none;
    color: inherit;
}

.bg-cream {
    background-color: #f6f2eb;
}

.pagination {
    width: 89%;
}

#energise-your-life,
#faith-in-action {
    border: 2px solid rgb(218, 214, 214);
}

.w-80 {
    width: 73%
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.joinUs {
    width: 100%;
}

.bg-peachpink {
    background-color: #ffe6e0;
}



.bg-magenta {
    background-color: #c0304f;
}

.bird {
    top: -40%;
    left: -6%;
    ;
}

.feather,
.candle,
.scorpio {
    display: none;
}


.garland {
    width: 30%;
    top: 100%;
}



.baby {
    width: 15%;
    left: -15%;
    top: 50%;
}

.members {
    .text {

        .title,
        .para {
            flex: 1;

            &>h2 {
                max-width: 350px;
            }

            &>p {
                max-width: 450px;
            }
        }
    }

    .crown>img,
    .flower>img {
        max-width: 500px;
    }

    .person-img {
        img {
            border-radius: 150px
        }
    }

    .separator {
        height: 50px;
        width: 2px;
        background-color: var(--light-brown);
    }

    .socials {
        visibility: hidden;
    }

    .share {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .memberInfo:hover {
        .share {
            background-color: #C0304F;
        }

        .socials {
            visibility: visible;
        }
    }



}

.articleHeading,
.missionHeading,
.growHeading,
.satisfactionHeading,
.lordHeading {
    border-left: 4px solid #c0304f;
}

.featured {
    top: 8%;
    left: 3%;
    width: 100%;
}

.bench {
    width: 100%;
}

#pagination .page-item.active a.page-link,
#pagination .page-item.active a.page-link:hover {
    background-color: #c0304f;
    border-color: #c0304f;
    color: white;
}

.churchBackground {
    display: none;
}

.pegion {
    display: none;
}

.gate {
    display: none;
}

.hero {
    background-color: var(--bg-yellow);

    .row {
        &>div:nth-child(1) {
            order: 0;

            &>div {
                border: 1px solid gray;
                border-radius: 50% 50% 0 0;
            }

            .button-nav {
                width: 60px;
                height: 60px;
                border-radius: 50%;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }

        &>div:nth-child(2) {
            order: 4;
        }

        &>div:nth-child(3) {
            order: 3;

            &>div.statue {
                border: 1px solid gray;
                border-radius: 50% 50% 0 0;
            }
        }
    }

    .donate {
        .large-text {
            font-size: 50px;
            font-style: italic;
        }

        .separator {
            width: 1px;
            height: 80px;
            background-color: gray;
        }

        p {
            max-width: 500px;
        }

        .donate-logo {
            width: 150px;
            top: -40%;

            img {
                width: 100%;
            }
        }
    }
}

.castle {
    display: none;
}

.person-section {
    display: flex;
    gap: 4%;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.person-card {
    width: 63%;
    margin-bottom: 20px;
    text-align: center;
}

.person-card img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;
}

.person-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-card .logo {
    width: 15%;
    height: 5%;
    margin-bottom: 10px;
    margin-right: 12px;

}

.person-details {
    text-align: left;
    padding: 0 10px;
    border-left: 2px solid rgb(210, 205, 205);

}

.person-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.person-container {
    display: flex;
}

.active-logo {
    filter: grayscale(0%);
}

.social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 10px;
    visibility: hidden;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.membersLine {
    width: 40%;
    height: 1px;
    background-color: rgb(196, 191, 191);
}

.overlap-container {
    position: relative;
}

.overlap-container img {
    position: absolute;
    border-radius: 50%;
}

.overlap-container img:nth-child(2),
.overlap-container img:nth-child(3),
.overlap-container img:nth-child(4),
.overlap-container img:nth-child(1) {
    display: none;

}

.bridges {
    width: 91%;
}

.potential .potential-image {
    width: 100%;
    height: 100%;
    max-height: 350px;
}

.girlImg {
    width: 100%;
}

.satisfaction {
    .text {
        .title {
            max-width: 350px;
        }

        p {
            max-width: 500px;
        }
    }

    .missions {
        .mission {
            p {
                max-width: 200px;
            }

            .arrow {
                border: 1px solid grey;
                border-radius: 50%;
            }
        }

        .mission:hover {
            background-color: #FFE6E0;
            border-radius: 50px 50px 50px 0px;

            .read-more {
                display: block !important;
            }

            .arrow {
                background-color: #C0304F;
            }
        }

    }
}

//grow-stronger
.grow-stronger {
    &>div {
        flex: 1
    }

    .text {
        .title {
            max-width: 400px;
        }

        .points {
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid black;
            }
        }
    }

    .image {
        .hand {
            left: -20%;
            bottom: -10%;
        }


    }
}


.read-more-btn:hover {
    color: #c0304f;
}

.missionHeading,
.missionPara {
    width: 100%;
}

.missionIcon {
    width: 20%;
}


.carousel {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-bottom: 20px;

}

.eventcard {
    display: flex;
    flex: 0 0 auto;
    max-width: 300px;
    border: 2px solid rgb(231, 227, 227);
    align-items: center;
    flex-direction: column;
}

.leftImage {
    width: 100%;
    height: 50%;
}

#prevButton .logoAndParaDiv {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
}

.logoAndParaDiv {
    display: flex;
    margin-bottom: 10px;
}

#prevButton,
#nextButton {
    border-radius: 50%;
    color: black;
    background-color: white;
    padding: 1%;
}

#prevButton:hover,
#nextButton:hover {
    background-color: #C0304F;
    color: white;
}

.eventparagraph {
    margin: 0;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.eventlogo {
    // max-width: 10px;
    height: auto;
    margin-right: 5px;
}

.eventtitle {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    ;
}

.cardContent {
    width: 50%;
}

.joinbutton {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}

.buttons-container {
    text-align: center;

}

.button {
    margin: 0 10px;
}

///=============
@media(min-width:768px) {
    .eventcard {
        display: flex;
        flex: 0 0 auto;
        max-width: 650px;
        margin-right: 20px;
        background-color: #f2f2f2;
        border-radius: 10px;
        scroll-snap-align: start;
        gap: 30px;
        border: 2px solid rgb(231, 227, 227);
        align-items: center;
        flex-direction: row;
    }

    .leftImage {
        width: 30%;
        height: 100%;
    }

    .buttons-container {
        margin-top: 5%;
    }


    .featured {
        width: 100%;
    }

    .gate {
        display: block;
        left: -10%;
        width: 20%;
        top: -5%;
    }

    .churchBackground {
        display: block;
        left: -10%;
        top: 50%;
        width: 20%;
    }

    .person-card img {
        width: 79%;
    }

    .subscribeSection {
        width: 50%;
        left: 5%;
        top: 1%;
        padding: 20px;
    }

    .person-card {
        width: 20%;
    }

    .missionHeading {
        width: 40%;
    }

    .missionPara {
        width: 40%;
    }

    .hero {
        .row {
            &>div:nth-child(2) {
                order: 2;
            }
        }
    }


    .overlap-container img:nth-child(2),
    .overlap-container img:nth-child(3),
    .overlap-container img:nth-child(4),
    .overlap-container img:nth-child(1) {
        display: block;

    }

    .overlap-container img:nth-child(1) {
        z-index: 4;
        top: 0;
        left: 0;
    }

    .overlap-container img:nth-child(2) {
        z-index: 3;
        top: 40px;
        left: 3px;
    }

    .overlap-container img:nth-child(3) {
        z-index: 2;
        top: 80px;
        left: 3px;
    }

    .overlap-container img:nth-child(4) {
        z-index: 1;
        top: 120px;
        left: 3px;
    }

    //we call prince the lord

    .prince-the-lord {
        .image {
            display: block;
            flex-grow: 1;
        }

        .text {
            flex-grow: 1;

            h2 {
                border-left: 5px solid rgb(184, 10, 10);
                max-width: 400px;
            }

            .logo {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 2px dashed gray;
            }
        }


    }


}

@media(min-width:1024px) {
    .castle {
        display: block;
    }



    .candle {
        display: block;
        left: -10%;
        width: 20%;
        top: 50%;
    }

    .articleBench {
        position: relative;
        width: 50%;
    }

    .bench {
        width: 100%;
    }

    .featured {
        position: absolute;
        width: 60%;
        background-color: #ffff;
        opacity: 0.9;
        top: -8%;
    }

    .subscribeSection {
        left: 52%;
        top: -18%;
        border: 2px solid rgb(244, 240, 240);
        border-radius: 20px;
        padding: 20px;
        opacity: 0.9;

    }

    .joinUs {
        width: 25%;
    }

    .girlImg {
        width: 60%;
    }

    .overlap-container img:nth-child(2),
    .overlap-container img:nth-child(3),
    .overlap-container img:nth-child(4),
    .overlap-container img:nth-child(1) {
        display: block;

    }

    .overlap-container img:nth-child(1) {
        z-index: 4;
        top: 0;
        left: 0;
    }

    .overlap-container img:nth-child(2) {
        z-index: 3;
        top: 2px;
        left: 50px;
    }

    .overlap-container img:nth-child(3) {
        z-index: 2;
        top: 3px;
        left: 100px;
    }

    .overlap-container img:nth-child(4) {
        z-index: 1;
        top: 3px;
        left: 150px;
    }

    .bridges {
        width: 80%;
    }
}

@media(min-width:1440px) {
    .featured {
        top: 8%;
        width: 50%;
    }

    .pegion {
        display: block;
        right: -10%;
        width: 25%;
        top: 20%;
    }

    .feather {
        display: block;
        right: -10%;
        top: 50%;
    }

    .scorpio {
        display: block;
        right: -5%;
        width: 20%;
    }

    .subscribeSection {
        padding: 60px;
    }

    .featured {
        position: absolute;
        width: 60%;
        background-color: #ffff;
        opacity: 0.9;
        top: 5%;
    }

    .subscribeSection {
        top: -4%;

    }
}