.bg-cream {
    background-color: #f6f2eb;
}

.pagination {
    width: 89%;
}

#energise-your-life,
#faith-in-action {
    border: 2px solid rgb(218, 214, 214);
}

.w-80 {
    width: 73%
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.joinUs {
    width: 100%;
}

.bg-peachpink {
    background-color: #ffe6e0;
}

.bg-magenta {
    background-color: #c0304f;
}

.bird {
    top: -40%;
    left: -6%;
    ;
}

.feather,
.candle,
.scorpio {
    display: none;
}

.crown {
    width: 20%;
    left: 37%;
    top: -5%;
}

.garland {
    width: 30%;
    top: 100%;
}



.baby {
    width: 15%;
    left: -15%;
    top: 50%;
}

.articleHeading,
.missionHeading,
.growHeading,
.satisfactionHeading {
    border-left: 4px solid #c0304f;
}

.featured {
    top: 8%;
    left: 3%;
    width: 100%;
}

.bench {
    width: 100%;
}

#pagination .page-item.active a.page-link,
#pagination .page-item.active a.page-link:hover {
    background-color: #c0304f;
    border-color: #c0304f;
    color: white;
}

.churchBackground {
    display: none;
}

.pegion {
    display: none;
}

.gate {
    display: none;
}

.hero {
    background-color: var(--bg-yellow);

    .row {
        &>div:nth-child(1) {
            order: 0;

            &>div {
                border: 1px solid gray;
                border-radius: 50% 50% 0 0;
            }

            .button-nav {
                width: 60px;
                height: 60px;
                border-radius: 50%;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }

        &>div:nth-child(2) {
            order: 4;
        }

        &>div:nth-child(3) {
            order: 3;

            &>div.statue {
                border: 1px solid gray;
                border-radius: 50% 50% 0 0;
            }
        }
    }

    .donate {
        .large-text {
            font-size: 50px;
            font-style: italic;
        }

        .separator {
            width: 1px;
            height: 80px;
            background-color: gray;
        }

        p {
            max-width: 500px;
        }

        .donate-logo {
            width: 150px;
            top: -40%;

            img {
                width: 100%;
            }
        }
    }
}

.castle {
    display: none;
}

.person-section {
    display: flex;
    gap: 4%;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.person-card {
    width: 63%;
    margin-bottom: 20px;
    text-align: center;
}

.person-card img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;
}

.person-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-card .logo {
    width: 15%;
    height: 5%;
    margin-bottom: 10px;
    margin-right: 12px;

}

.person-details {
    text-align: left;
    padding: 0 10px;
    border-left: 2px solid rgb(210, 205, 205);

}

.person-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.person-container {
    display: flex;
}

.active-logo {
    filter: grayscale(0%);
    // background-color: magenta;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 10px;
    visibility: hidden;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.membersLine {
    width: 40%;
    height: 1px;
    background-color: rgb(196, 191, 191);
}

.overlap-container {
    position: relative;
}

.overlap-container img {
    position: absolute;
    border-radius: 50%;
}

.overlap-container img:nth-child(2),
.overlap-container img:nth-child(3),
.overlap-container img:nth-child(4),
.overlap-container img:nth-child(1) {
    display: none;

}

.bridges {
    width: 91%;
}

.potential .potential-image {
    width: 100%;
    height: 100%;
    max-height: 350px;
}

.girlImg {
    width: 100%;
}

.satisfaction {
    .text {
        .title {
            max-width: 350px;
        }

        p {
            max-width: 500px;
        }
    }

    .missions {
        .mission {
            p {
                max-width: 200px;
            }

            .arrow {
                border: 1px solid grey;
                border-radius: 50%;
            }
        }

        .mission:hover {
            background-color: #FFE6E0;
            border-radius: 50px 50px 50px 0px;

            .read-more {
                display: block !important;
            }

            .arrow {
                background-color: #C0304F;
            }
        }

    }
}

//grow-stronger
.grow-stronger {
    &>div {
        flex: 1
    }

    .text {
        .title {
            max-width: 400px;
        }

        .points {
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid black;
            }
        }
    }

    .image {
        .hand {
            left: -20%;
            bottom: -10%;
        }


    }
}


.read-more-btn:hover {
    color: #c0304f;
}

.missionHeading,
.missionPara {
    width: 100%;
}

.missionIcon {
    width: 20%;
}




///=============
@media(min-width:768px) {
    .featured {
        width: 100%;
    }

    .gate {
        display: block;
        left: -10%;
        width: 20%;
        top: -5%;
    }

    .churchBackground {
        display: block;
        left: -10%;
        top: 50%;
        width: 20%;
    }



    .subscribeSection {
        width: 50%;
        left: 5%;
        top: 2%;
    }

    .person-card {
        width: 20%;
    }

    .missionHeading {
        width: 40%;
    }

    .missionPara {
        width: 40%;
    }

    .hero {
        .row {
            &>div:nth-child(2) {
                order: 2;
            }
        }
    }


    .overlap-container img:nth-child(2),
    .overlap-container img:nth-child(3),
    .overlap-container img:nth-child(4),
    .overlap-container img:nth-child(1) {
        display: block;

    }

    .overlap-container img:nth-child(1) {
        z-index: 4;
        top: 0;
        left: 0;
    }

    .overlap-container img:nth-child(2) {
        z-index: 3;
        top: 40px;
        left: 3px;
    }

    .overlap-container img:nth-child(3) {
        z-index: 2;
        top: 80px;
        left: 3px;
    }

    .overlap-container img:nth-child(4) {
        z-index: 1;
        top: 120px;
        left: 3px;
    }

    //we call prince the lord

    .prince-the-lord {
        .image {
            display: block;
            flex-grow: 1;
        }

        .text {
            flex-grow: 1;

            h2 {
                border-left: 5px solid rgb(184, 10, 10);
                max-width: 400px;
            }

            .logo {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 2px dashed gray;
            }
        }


    }


}

@media(min-width:1024px) {
    .castle {
        display: block;
    }

    .feather {
        display: block;
        right: -10%;
        top: 50%;
    }

    .scorpio {
        display: block;
        right: -5%;
        width: 20%;
    }

    .pegion {
        display: block;
        right: -10%;
        width: 25%;
        top: 20%;
    }

    .candle {
        display: block;
        left: -10%;
        width: 20%;
        top: 50%;
    }

    .articleBench {
        position: relative;
        width: 50%;
    }

    .bench {
        width: 100%;
    }

    .featured {
        position: absolute;
        width: 60%;
        background-color: #ffff;
        opacity: 0.9;
        top: 5%;
    }

    .subscribeSection {
        left: 52%;
        top: 4%;
        border: 2px solid rgb(244, 240, 240);
        border-radius: 20px;
        padding: 0;

    }

    .joinUs {
        width: 25%;
    }

    .girlImg {
        width: 60%;
    }

    .overlap-container img:nth-child(2),
    .overlap-container img:nth-child(3),
    .overlap-container img:nth-child(4),
    .overlap-container img:nth-child(1) {
        display: block;

    }

    .overlap-container img:nth-child(1) {
        z-index: 4;
        top: 0;
        left: 0;
    }

    .overlap-container img:nth-child(2) {
        z-index: 3;
        top: 2px;
        left: 50px;
    }

    .overlap-container img:nth-child(3) {
        z-index: 2;
        top: 3px;
        left: 100px;
    }

    .overlap-container img:nth-child(4) {
        z-index: 1;
        top: 3px;
        left: 150px;
    }

    .bridges {
        width: 80%;
    }
}

@media(min-width:1440px) {
    .featured {
        top: 8%;
        width: 50%;
    }

    .subscribeSection {
        left: 44%;
        top: 8%;
        border: 2px solid gray;
        border-radius: 20px;
    }
}