#anchor {
    text-decoration: none;
    color: inherit;
}

.text-gray {
    color: #7a7a82;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-left-red {
    background-color: #c0304f;
    height: 130px;
    width: 5px;
}

.church {
    width: 50%;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    border-bottom: 1px solid #c0304f !important;
}